{% extends "layout/basic.html" %}

{% block title %}{{ current_rubric.name }}{% endblock %}

{% block content %}
<h2>Рубрика: {{ current_rubric.name }}</h2>

{% for firstmodelcontent in firstmodelsource %}
<div>
<!--    <h2>{{ firstmodelcontent.title }}</h2> МОЖНО УБРАТЬ КОММЕНТАРИЙ И ВЫВЕСТИ TITLE-->
    <h2><a href="{% url 'bboard:detail' pk=firstmodelcontent.pk %}">{{ firstmodelcontent.title }}</a></h2>
    <h3><a href="{% url 'bboard:edit' pk=firstmodelcontent.pk %}">Исправить</a></h3>
    <p>{{ firstmodelcontent.content }}</p>
    <p>{{ firstmodelcontent.published|date:"d.m.Y H:i:s" }}</p>
    <a href="{% url 'bboard:rub-delete' pk=firstmodelcontent.pk %}" class="btn btn-danger">Удалить</a>
</div>
{% endfor %}
{% endblock %}