{% extends "layout/basic.html" %}

{% block title %}{{ current_rubric.name }}{% endblock %}

{% block contentzero %}
<h1>Рубрика: {{ current_rubric.name }}</h1>

{% for firstmodelcontent in firstmodelsource %}
<div class="{% cycle 'bb1' 'bb2' 'bb3' as currentclass %}">
    <h1><a href="{% url 'bboard:detail' pk=firstmodelcontent.pk %}">{{ firstmodelcontent.title }}</a></h1>
    <p class="currentclass">{{ firstmodelcontent.content }}</p>
    <p>Цена: {{ firstmodelcontent.price|floatformat }}</p>
    <p>С момента публикации {{ firstmodelcontent.published|timesince }}</p>
    <h6>
        <a href="{% url 'bboard:edit' pk=firstmodelcontent.pk %}" class="btn btn-danger">Исправить</a>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="{% url 'bboard:delete' pk=firstmodelcontent.pk %}" class="btn btn-danger">Удалить</a>
    </h6>
</div>
{% endfor %}
{% with firstmodel_count=firstmodelsource.count %}
    {% if firstmodel_count > 0 %}
    <h4>Всего {{ firstmodel_count }} объявлений</h4>
    {% else %}
    <h4>Объявлений не найдено!</h4>
    {% endif %}
{% endwith %}
<h5>Дата добавления</h5>
<ul type="circle">
    {% for firstmodelcontent in firstmodelsource|dictsortreversed:'published' %}
    <li>{{ firstmodelcontent.published }}: {{ firstmodelcontent.title }}</li>
    {% endfor %}
</ul>
{% endblock %}