{% extends "layout/basic.html" %}

{% block content %}
{%  for firstmodelcontent in bbs %}
<div>
    <h2>{{ firstmodelcontent.title }}</h2>
    <p>{{ firstmodelcontent.content }}</p>
    <p><a href="{% url 'bboard:by_rubric' firstmodelcontent.rubric.pk %}">{{ firstmodelcontent.rubric.name }}</a></p>
    <p>{{ firstmodelcontent.published|date:"d.m.Y H:i:s" }}</p>
    <h2><a href="{% url 'bboard:detail' pk=firstmodelcontent.pk %}">{{ firstmodelcontent.title }}</a></h2>
</div>
{% endfor %}
{% endblock %}
